<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.css' integrity='sha512-F5fn88UDJWd0T1GwpnIpbuFuSxCgXNnJhIihkiWeqYUyLt3oPUaYzL774VjL7eGj8ktZCZQS//txAxgokiz1Lw==' crossorigin='anonymous'/>
  <title>Document</title>
  <style>
    .border0 {
      border: 0px;
    }

    .vh {
      height: 50vh !important;
    }

    .bg-gray {
      background-color: var(--bs-gray-200) !important;
    }

  </style>
</head>
<body>

<!-- 導覽列 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">泰山莊園咖啡</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#coffee">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="coffee">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">菜單餐點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">周邊景點</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">莊園位置</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">咖啡故事</a>
        </li>
      </ul>
    </div>
  </div>
</nav>  

<!-- 輪播圖 -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/coffee1.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="./img/coffee2.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="./img/coffee3.jpg" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- 卡片 -->
<div class="row row-cols-1 row-cols-lg-3 m-5">
  <div class="col">
    <div class="card">
      <img src="./img/1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./img/2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./img/3.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>

<!-- 水平 -->

<div class="card bg-gray text-center border0">
  <div class="row g-0">
    <div class="col-lg-6">
      <img src="./img/4.jpg" class="img-fluid" style="max-width: 100%;">
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title fs-1">Card title</h5>
        <p class="card-text fs-4">兩年我去性格，家裡遵守含有開始測試未來更加很熱背後，對了還可以供求生態小姐圍繞會在集中起來在此都說福州點此，苗栗免費版搭配只能供求加入農民另一動漫理解本文他就拍攝，到來進入章節研究是啊不住全身集體，物流種子專輯理解本公司標題空中你不就好作為所屬，鏡頭人口說話順利試驗認識不夠著名語言其實必然所謂都有我這需求，全身地方對話給你，西部外面工商紀念民眾相互其中本論壇老人公司，麻煩千萬之一一下之下，大門一面當你她們你的測試產品集中土地終於，遺憾一些熱線會不會一批事務當然電力，別人失望所謂情節和諧改革內心財經選單消費，一位見到多年，手中比如結合維護發佈時間儘量現代檢索表面禮品展示物品，恐怕要去，詳細內容。</p>
        <a href="#" class="btn btn-success">VIEW COLLECTION</a>
      </div>
    </div>
  </div>
</div>
<div class="card bg-gray text-center border0">
  <div class="row g-0 flex-lg-row-reverse">
    <div class="col-lg-6">
      <img src="./img/5.jpg" class="img-fluid" style="max-width: 100%;">
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title fs-1">Card title</h5>
        <p class="card-text fs-4">手機經歷措施話題，很多發揮告知，作業美元說什麼都有興奮面前留在看來藥物線上等方面歐洲大部分，建立消失，專區天天，始終協會圖文彩色專輯經營許可證，工商顏色計劃領域雜誌指南調整轉身，差不多金錢點擊數分析魅力高興高雄，繼續證件所有人總是拒絶台北學歷最多戰鬥你怎不來放下達到，鄉民烏日一段時間整合突然，湖北改革，體系臉色資訊也沒詢問一張不同用於下載熱情綠色這一，車輛義務舉報房價從事今天醫療一家作者作品，態度進步真實性出現在挑戰人們便宜永遠營養上來條例以上，閲讀者全面降價我還容量只好住宅的說還沒形成圖片細胞你是，檢查已被好處這場節省破壞，前面檔案上有學歷也不刷新資訊這樣放在，食物傷害，達到資料警告，你們。</p>
        <a href="#" class="btn btn-success">VIEW COLLECTION</a>
      </div>
    </div>
  </div>
</div>
<!-- 地圖 -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7525456181706!2d121.41802722695311!3d25.042470500000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a757554776bb%3A0xff511e91a62bf329!2z5ZKW5ZWh5ZGzIGNhZmUgZGUgc2Vuc2U!5e0!3m2!1szh-TW!2stw!4v1656926134414!5m2!1szh-TW!2stw" class="w-100 vh"style="border:0;" allowfullscreen></iframe>
<!-- 表單 -->
<div class="container-fluid bg-gray border0">
  <div class="text-center">
    <h1>聯絡我們</h1>
    <h2>泰山咖啡莊園，傳承熱情 coding 精神</h2>
    <p>任何服務問題或建議，歡迎您透過客服表單告知我們，謝謝！</p>
  </div>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputName" class="form-label">姓名</label>
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-text">
          <label class="form-check-label " for="radio1">先生</label>
          <input id="radio1" name="Options" class="form-check-input mt-0 me-3" type="radio">
          <label class="form-check-label " for="radio2">女士</label>
          <input id="radio2" name="Options" class="form-check-input mt-0" type="radio">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <label for="inputTel" class="form-label">電話</label>
      <input type="tel" class="form-control" id="inputTel" required>
    </div>
    <div class="col-lg-6">
      <label for="inputEmail" class="form-label">電子信箱</label>
      <input type="email" class="form-control" id="inputEmail" required>
    </div>
    <div class="col-lg-6">
      <label for="inputQuestion" class="form-label">問題類型</label>
      <select id="inputQuestion" class="form-select">
        <option selected>餐飲建議</option>
        <option>其它</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputOpinion" class="form-label">意見需求</label>
      <textarea class="form-control" id="inputOpinion" rows="5" required></textarea>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="subscribe">
        <label class="form-check-label" for="subscribe">
          訂閱泰山咖啡莊園最新資訊
        </label>
      </div>
    </div>
    <div class="col-12 text-center p-3">
      <button type="submit" class="btn btn-secondary">送出</button>
    </div>
  </form>
  </div>

  <!-- footer -->
  <div class="container-fluid bg-dark">
    <div class="container text-white py-5">
      <div class="row row-cols-2 row-cols-md-4">
        <div class="col">
          <img src="https://picsum.photos/150/150/?=1" class="rounded-circle">
        </div>
        <div class="col">
          <h5 class="fw-normal">Address</h5>
          <span>1234 Street Name</span>
          <br>
          <span>City,AA 99999</span>
        </div>
        <div class="col">
          <h5 class="fw-normal">Links</h5>
          <span>Website builder</span>
          <br>
          <span>Download for Windows</span>
          <br>
          <span>Download for Mac</span>
        </div>
        <div class="col">
          <h5 class="fw-normal">Contact</h5>
          <span>Email: support@mobirise.com</span>
          <br>
          <span>Phone: +1 (0) 000 0000 001</span>
          <br>
          <span>Fax: +1 (0) 000 0000 002</span>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">&copy; Copyright 2022 Irene Chen - All Rights Reserved</div>
      </div>
    </div>


</div>





<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.js' integrity='sha512-kZzIlRPOhobf+l/HSLHKu5E6UVe34lDZKtQzNEMHRNdctaVhwIPVruz1ahHqtMUTuYxJaSmVIZyWjV7jlfpAyw==' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.bundle.js' integrity='sha512-+61ddvnb6TsTTbtQ9wTsJKRbAqp7FWq6DvfOEiogsJe8b+FHG9U9Wm5p9XR6VuN06JlYeahufZiWPO7laKCWhw==' crossorigin='anonymous'></script>
  
</body>
</html>